header, footer{
    background-color:transparent;
    color: black;
    font-size: 75px;
    text-align: center;
}
body {
    text-align: center;
    color: blueviolet;
    padding: 12px;
    font-size: 30px;
}